


.main{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 200px;
}
.first{
    width: 400px;
    height: 700px;
    box-shadow: 4px 4px 4px 4px rgb(104, 104, 104);
    background-color: rgb(255, 255, 255);
    background-image: url("./images/bg-header-desktop.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 80px;
}
.second{
    width: 400px;
    height: 700px;
    margin-left: 300px;
    box-shadow: 6px 6px 6px 6px burlywood;
    background-color: white;
}
.rtr{
    background-image: url("./images/image-computer.png");
    background-position: bottom;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 10px;
    width: 200px;
    margin-bottom: 30px;
}
.logo{
    width: 30px;
    margin-top: 50px;
    margin-left: 45%;
}
.computer{
    width: 220px;
    height: 180px;
    background-image: url("./images/image-computer.png");
    background-repeat: no-repeat;
    background-size:200px;
}
.history{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: hsl(210, 10%, 33%);
}
.cilp{
    text-align: center;
    font-size: 10px;
    margin-top: 7px;
    color: hsl(201, 11%, 66%);
}
.cce{
    margin-top: 7px;
}
.ios{
    font-size: 10px;
    width: 120px;
    height: 20px;
    border-radius: 10px;
    background-color: hsl(171, 66%, 44%);
    color: white;
    margin-left: 70px;
    margin-top: 10px;
    border: 0px;
    box-shadow: 4px 4px 4px rgb(109, 109, 109);
}
.mac{
    font-size: 10px;
    width: 120px;
    height: 20px;
    border-radius: 10px;
    color: white;
    background-color: hsl(233, 100%, 69%);
    border: 0px;
    box-shadow: 4px 4px 4px rgb(109, 109, 109);
}
.keep{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    color: hsl(210, 10%, 33%);   
}
.inst{
    text-align: center;
    font-size: 10px;
    margin-top: 7px;
    color: hsl(201, 11%, 66%);   
}

.flex{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.computer2{
    width: 220px;
    font-size: 9px;
    margin-top: 7px;
    color: hsl(201, 11%, 66%);  
    padding: 0px 20px 0px 30px;
}
.quick{
    font-size: 15px;
    color: hsl(210, 10%, 33%);   
}
.sy{
    font-size: 15px;
    margin-top: 10px;
    color: hsl(210, 10%, 33%);
}
.access{
    font-size: 15px;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin-top: 20px;
}
.access2{
    font-size: 15px;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin-top: 0px;
}
.whether{
    font-size: 5px;
    color: hsl(201, 11%, 66%);
    text-align: center;
}
.three2{
    background-image: url("./images/image-devices.png");
    width: 300px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30%;
    margin-top: 20px;
}
.three{
    background-image: url("./images/image-devices.png");
    width: 300px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30%;
}
.thee{
    background-image: url("./images/image-devices.png");
    width: 500px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5%;
    margin-top: 20px;
}
.move{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.black{
    display: flex;
    flex-direction: row;
}
.list{
    width: 20px;
    margin-left: 70px;
}
.text{
    width: 20px;
    margin-left: 120px;
}
.preview{
    width: 20px;
    margin-left: 100px;
}
.super{
    font-size: 10px;
    margin-left: 20%;
    color: hsl(201, 11%, 66%);
}
.supercharge{
    font-size: 20px;
    color: hsl(210, 10%, 33%);
    margin-bottom: 10px;
}
.ten{
    font-size: 7px;
    text-align: center;
}
.see{
    font-size: 15px;
}
.ibm{
    width: 60px;
    margin-left: 30px;
}
.microsoft{
    width: 60px;
    margin-left: 30px;
}
.hp{
    width: 60px;
    margin-left: 30px;
}
.graphics{
    width: 60px;
    margin-left: 30px;
}
.design{
    margin-top: 40px;
}
.free{
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-size: 10px;
}
.and{
    font-size: 15px;
    margin-bottom: 10px;
}
.re{
    margin-top: 7px;
}
.load{
    margin-top: 10px;
}
.conus{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding-left: 20px;
    background-color: hsla(240, 1%, 62%, 0.37);
    height: 40px;
    padding-top: 10px;
}
.policy{
    margin-left: 20px;
}
.install{
    margin-left: 20px;
    align-items: normal;
}
.last{
    margin-left: 50px;
    margin-top: 7px;
}
.facebook{
    width: 12px;
}
.twitter{
    width: 12px;
    margin-left: 10px;
}
.instagram{
    width: 12px;
    margin-left: 10px;
}